//
//  Zlib.xcconfig
//  Crypto
//
//  Created by Sam Soffes on 11/23/15.
//  Copyright (c) 2015 Sam Soffes. All rights reserved.
//

MODULEMAP_FILE[sdk=iphoneos*] = $(SRCROOT)/Zlib/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/Zlib/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=watchos*] = $(SRCROOT)/Zlib/watchos.modulemap
MODULEMAP_FILE[sdk=watchsimulator*] = $(SRCROOT)/Zlib/watchsimulator.modulemap
MODULEMAP_FILE[sdk=macosx*] = $(SRCROOT)/Zlib/macosx.modulemap
MODULEMAP_FILE[sdk=appletvos*] = $(SRCROOT)/Zlib/appletvos.modulemap
MODULEMAP_FILE[sdk=appletvsimulator*] = $(SRCROOT)/Zlib/appletvsimulator.modulemap
